<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="t.application.imagetopdf">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/bluelogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/bluelogo"
        android:supportsRtl="true"


    android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2308747207296972~7240988827"/>
        <activity android:name=".splash"
            android:theme="@style/SplashTheme"
           >

            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pdfview" />
        <activity android:name=".editingactivity" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme">

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.myfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>